.footer {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #2D302D;
  color: #a8aca8;
  height: 10rem;
}

.footer a {
  text-decoration: none;
  color: #a8aca8;
}

.footer__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer__menu li {
  padding: 8px 12px;
  font-size: larger;
}

.footer__info {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.footer__info li {
  padding: 8px 12px;
  color: #a8aca8;
  font-size: small;
}

.footer__info li:after {
  margin-left: 14px;
  content: "|";
}

.footer__info li:last-child::after {
  content: "";
}

.footer p {
	color: #a8aca8;
	font-size: small;
}
