@import "./reset.css";
@import "./common.css";
* {
  font-family: var(--font-style);
}
.main__section {
  margin-bottom: 5rem;
}
/* main cover */
.main__cover {
  position: relative;
}

.main__cover img {
  width: 100%;
  height: 35rem;
  filter: brightness(0.7);
}
.main__header__icon img {
  height: 5rem;
  width: 100%;
}
.main__cover__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__header__comment {
  font-size: var(--font-big);
  color: var(--color-main-point);
}

.main__header__move {
  margin-top: calc(1.25rem * 2);
  border-radius: 4px;
  background-color: var(--color-white);
}

.main__header__input {
  width: 90%;
  border-radius: 4px;
  margin: var(--size-small) 0;
}
.main__header__icon {
  height: 100%;
}
.main__header__icon:hover {
  cursor: pointer;
}
/* main service introduction */
.main__contents {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.main__contents__intro {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  font-size: var(--font-large);
}

.main__contents__intro div {
  font-weight: 600;
}
.main__contents__intro h3 {
  margin-bottom: 0;
  color: var(--color-white);
  font-weight: 50;
  font-style: italic;
}

.main__service {
  display: flex;
  padding: 8px 12px;
}

.main__service__card {
  border: 1px solid var(--color-main-back);
  list-style: none;
  text-align: center;
  margin: var(--size-medium);
  background-color: var(--color-light-grey);
}

.main__service__card .card__img {
  width: 100%;
  height: 40%;
}

.main__service__card .card__descript {
  padding: 8px 12px;
  text-align: center;
  margin-top: var(--size-large);
  font-size: var(--font-medium);
  color: var(--color-black);
}

.main__service__card .card__title {
  font-size: var(--font-large);
}
.main__service__card .card__btn {
  margin: 1rem;
  padding: 14px 40px;
  border-radius: 8px;
  transition-duration: 0.3s;
  background-color: var(--color-main-point);
}
.main__service__card .card__btn:hover {
  background-color: var(--color-main-hover);
  color: var(--color-white);
}
